.App {
  text-align: center;
}
.movie-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  background-color: #282c34;
  justify-content: space-around;
  color: black;
}
.movie-list > * {
  margin-top: 20px;
  margin-bottom: 20px;
}
.search {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  background-color: red;
  padding: 1.14em;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*Navigation*/
.navigation {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center; /*vertical*/
}
.navigation img {
  width: 150px;
}
.navigation ul {
  display: flex;
  list-style: none;
}

.navigation ul li {
  margin-left: 15px;
  padding: 1.2em;
}
.navigation ul li:hover {
  border-bottom: 1px solid gray;
  cursor: pointer;
}
.navigation ul li i {
  margin-right: 15px;
}
.navigation ul > * {
  text-decoration: none;
  color: #282c34;
}
.add-btn {
  position: absolute;
  top: 15px;
  background-color: transparent !important;
  border: 1px solid gray !important;
  color: gray !important;
  cursor: pointer;
  outline: none !important;
}
.landing {
  padding: 1.4em;
  background-color: #282c34;
  color: aliceblue;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.caard > * {
  text-decoration: none;
}
